# <center>Dataclasses (Part-1)</center>

## Normal Class Impelementation

In [1]:
class Person:
    
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
        
    def __repr__(self):
        return "Person(name={}, age={}, city={})".format(self.name, self.age, self.city)
    
    def __eq__(self, other):
        return (self.name, self.age, self.city) == (other.name, other.age, other.city)

In [2]:
p = Person("Nikhil", 21, "Delhi")

In [3]:
p

Person(name=Nikhil, age=21, city=Delhi)

In [4]:
p1 = Person("Nikhil", 21, "Delhi")
p2 = Person("Nikhil", 21, "Delhi")

In [5]:
p1 == p2

True

## Class impelementation using dataclasses

In [6]:
from dataclasses import dataclass

In [7]:
@dataclass
class NewPerson:
    name: str
    age: int
    city: str

In [8]:
p = NewPerson("Nikhil", 21, "Delhi")

In [9]:
p

NewPerson(name='Nikhil', age=21, city='Delhi')

In [10]:
p1 = Person("Nikhil", 21, "Delhi")
p2 = Person("Nikhil", 21, "Delhi")

In [11]:
p1 == p2

True