# <center>Dataclasses (Part-3)</center>

# field(\*, default=MISSING, default_factory=MISSING, init=True, repr=True, hash=None, compare=True, metadata=None)

- default
- default_factory
- init
- repr
- hash
- compare
- metadata

**Note**: 
- `default` parameter's object is shared by all the objects of a class whereas `default_factory` parameter's object is unique for each object.

- Method defined for `default_factory` paramter cannot take any arguments.

In [1]:
from dataclasses import dataclass, field

In [2]:
def get_default_age():
    ages = [12,34,56,34,32]
    return sum(ages) // len(ages)

In [3]:
@dataclass(unsafe_hash=True)
class Person:
    name: str = field(compare=False)
    city: str = field(default="Delhi", hash=False)
    age: int = field(default_factory=get_default_age, metadata={'format': 'year'})
    salary: int = field(init=False, repr=False, default=0)

In [4]:
p = Person("Nikhil")

In [5]:
p

Person(name='Nikhil', city='Delhi', age=33)

In [6]:
p.name, p.age, p.city, p.salary

('Nikhil', 33, 'Delhi', 0)

In [7]:
hash(p)

3713046991032653306

In [8]:
p1 = Person("Nikhil")
p2 = Person("Vivek")

In [9]:
p1 == p2

True

In [10]:
p.__dataclass_fields__['age'].metadata['format']

'year'