# <center>Dataclasses (Part-6)</center>

In [1]:
import json

In [2]:
from dataclasses import dataclass, asdict, astuple

In [3]:
@dataclass
class Address:
    lat: float
    lng: float
    city: str
    country: str
        
        
@dataclass
class Person:
    name: str
    addr: Address
    age: int

In [4]:
a = Address(28.75, 77.21, 'Delhi', 'India')

In [5]:
p = Person("Nikhil", a, 99)

In [6]:
p

Person(name='Nikhil', addr=Address(lat=28.75, lng=77.21, city='Delhi', country='India'), age=99)

In [7]:
asdict(p)

{'name': 'Nikhil',
 'addr': {'lat': 28.75, 'lng': 77.21, 'city': 'Delhi', 'country': 'India'},
 'age': 99}

In [8]:
json.dumps(asdict(p))

'{"name": "Nikhil", "addr": {"lat": 28.75, "lng": 77.21, "city": "Delhi", "country": "India"}, "age": 99}'

In [9]:
astuple(p)

('Nikhil', (28.75, 77.21, 'Delhi', 'India'), 99)